* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: black; */
    color: white;
    overflow: hidden;
  }
  
  body {
    background-color: black;
  }
  
  .main {
    display: flex;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
  }
  
 
  
  /*..... sidebar style ......*/
  
  .sidebar {
    background-color: black;
    width: 150px;
    border-radius: 1rem; /* 1rem = 16px*/
  }
  
  .spotify-logo {
    margin: 0.6rem 1.2rem;
    display: flex;
    align-items: center;
  }
  
  #navbar div {
    margin-top: 0.3rem;
  }
  
  #spotify-icon {
    height: 2rem;
  }
  
  #spotify-text {
    font-size: 1.4rem;
    font-weight: 600;
  }
  
  a {
    text-decoration: none;
    columns: #fff;
  }
  
  .addsong {
    height: 1.3rem;
  }
  
  #library-icon {
    height: 1.1rem;
  }
  
  .nav {
    margin: 1rem 1.3rem;
    margin-bottom: 10px;
  }
  
  .addPlaylist {
    padding: 0.6rem 1.2rem;
  }
  
  .addPlaylist div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-top: 0.9rem;
  }
  
  .songType {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.1rem;
    gap: 4px;
    font-size: 15px;
  }
  
  .install {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding-bottom: 2rem;
    margin-top: 20px;
  }
  
  .install a {
    font-size: 0.8rem;
  }
  
  #downArrow {
    height: 1.5rem;
  }
  
  .navbar {
    background-color: #1212;
    height: 1rem;
  }
  
  .addPlaylist {
    font-size: 15px;
  }
  
  .album-art {
    width: 100px;
  }
  
  .album-div {
    margin-left: 18px;
    margin-top: 100px;
  }
  
  /* main-content style */
  
  .main-content {
    background-color: rgb(22, 22, 22);
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
  }
  
  .playlist-container {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgb(48, 48, 48);
    width: 300px;
  }
  
  .playlist-image {
    width: 50px;
  }
  
  .liked-songs {
    background-color: rgb(48, 48, 48);
  }
  
  .girl-image {
    width: 200px;
  }
  
  .main-section1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .main-div1 {
    display: flex;
    align-items: center;
    padding-top: 50px;
    background-color: rgb(122, 147, 141);
    /* background-color: rgb(62, 75, 72); */
    padding-bottom: 50px;
  }
  
  .text-content1 {
    font-weight: bold;
    font-size: 50px;
  }
  
  .banner {
    /* border: 2px solid black; */
    display: inline-block;
    padding: 10px;
    background-color: rgb(27, 27, 27);
  }
  
  .singer-image {
    width: 150px;
  }
  
  .song-name {
    font-size: 10px;
  }
  
  .banner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .heading-text {
    display: flex;
    padding-left: 20px;
    /* background-color: rgb(33, 40, 48); */
  }
  
  .heading-text:hover {
    background-color: rgb(34, 37, 37);
  }
  
  .heading-container {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    align-items: center;
    justify-content: center;
    gap: 70px;
  }
  
  .heading-container:hover {
    background-color: rgb(34, 37, 37);
  }
  
  .nav-option:hover {
    background-color: rgb(34, 37, 37);
  }
  
  .timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .playlist-item {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .hero {
    padding: 20px;
  }
  
  /* footer-style */
  
  .music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .footer-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #file {
    width: 500px;
  }
  
  .container-div {
    display: flex;
  }
  
  .container-div1 {
    display: flex;
    align-items: center;
  }
  
  .container-div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
  }
  
  /* 
  media-query */
  
  @media only screen and (max-width: 475px) {
    .sidebar {
      height: 100%;
      overflow-y: scroll;
      width: 180px;
    }
  
    .main-div1{
      display: flex;
      flex-wrap: wrap;
    }
  
    .hero{
      display: flex;
      flex-wrap: wrap;
    }
  
    .heading-container{
      display: flex;
      gap: 5px;
      font-size: 15px;
    }
  
    .timer-container{
      display: none;
    }
  
    .date-container,.song-name{
      display: none;
    }
  
    .container-div1,.container-div2{
      display: none;
    }
  
  }